<nav class="navbar navbar-expand navbar-light bg-light fixed-bottom border-top d-lg-none">
  <div class="container-fluid">
    <ul class="navbar-nav nav-justified w-100">
      <li class="nav-item" *ngFor="let item of navItems">
        <a class="nav-link d-flex flex-column align-items-center"
           [routerLink]="item.route"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          
           <i [class]="item.icon + ' fa-fw'"></i>
          
          <span class="mobile-nav-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light fixed-bottom background-light border-bottom d-none d-lg-flex ">
  <div class="container-fluid justify-content-between">    
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link"
             [routerLink]="item.route"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            
            <i [class]="item.icon + ' fa-fw me-2 '"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
  </div>
</nav>