:host {
    font-family: 'Inter', sans-serif;
    direction: rtl;
}

.rounded-xl {
    border-radius: 0.75rem !important;
}

.rounded-top-xl {
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    --bs-modal-zindex: 9999 !important;
}

.modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
    }
}
