.table-warning {
  background-color: #fff3cd !important;
}

pre {
  font-size: 0.875rem;
  max-height: 300px;
  overflow: auto;
  direction: ltr;
  text-align: left;
}

.badge {
  font-size: 0.875rem;
}

.card-header h5 {
  margin: 0;
}

.pagination .page-link {
  cursor: pointer;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
.badge{
  background-color: cornflowerblue ;
}
.bg-sever{
  background-color: blueviolet;
}
.TA-bg{
  background-color: darkgreen;
}
.TC-bg{
  background-color: darkred;
}
.cl-bg{
  background-color: rgb(255, 105, 125);
}
.UT-bg{
  background-color: rgb(208, 226, 43);  
}
.MA-bg{
  background-color: rgb(37, 66, 182);  
}
