@media (min-width: 768px) {
    .with-sidebar {
        margin-right: 285px;
    }
}
.main-content{
    padding-bottom: 70px;
}
.main-body{
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.main-body::-webkit-scrollbar {
    display: none; 
}
.backgroundimage{
    position: fixed;
    width: 100svw;
    z-index: -1;
    opacity: 10%;
    top:50%;
    transform: translateY(-50%);
}